{
    "hosts": {{ docker_hosts|to_json }},
    "storage-driver": "{{ docker_storage_driver }}"{% if docker_use_tls ‰},{% endif %}
    {% if docker_use_tls %}
    "tlsverify": true,
    "tlscacert": "{{ docker_tls_path }}/ca.pem",
    "tlscert": "{{ docker_tls_path }}/server-cert.pem",
    "tlskey": "{{ docker_tls_path }}/server-key.pem"
    {% endif %}
}
